<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="in.srijanju.androidapp">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />

	<application
		android:name=".SrijanApp"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">
		<activity android:name=".activities.CameraScan"></activity>
		<activity android:name=".activities.SrijanRegister" />
		<activity android:name=".activities.EventDescription" />
		<activity android:name=".activities.Events" />
		<activity android:name=".activities.About" />
		<activity android:name=".activities.MainPage" />
		<activity android:name=".activities.Gallery" />
		<activity android:name=".activities.Ambassador" />
		<activity android:name=".activities.webview" />
		<activity android:name=".activities.Sponsors" />
		<activity
			android:name=".activities.MainActivity"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>