<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="in.srijanju.androidapp">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />

	<application
		android:name=".SrijanApp"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">

		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/ic_launcher" />
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_color"
			android:resource="@color/colorAccent" />

		<activity android:name=".view.Profile" />
		<activity
			android:name=".view.EventRegister"
			android:theme="@style/Theme.MaterialComponents.NoActionBar" />
		<activity android:name=".view.CameraScan" />
		<activity
			android:name=".view.SrijanRegister"
			android:theme="@style/Theme.MaterialComponents.NoActionBar" />
		<activity android:name=".view.EventDescription" />
		<activity android:name=".view.Events" />
		<activity android:name=".view.About" />
		<activity android:name=".view.MainPage" />
		<activity android:name=".view.Gallery" />
		<activity android:name=".view.Ambassador" />
		<activity android:name=".view.webview" />
		<activity android:name=".view.Sponsors" />
		<activity
			android:name=".view.MainActivity"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter
				android:autoVerify="true"
				android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<!-- Accepts URIs that begin with "https://srjanju.in" -->
				<data
					android:host="srijanju.in"
					android:scheme="https" />
			</intent-filter>
		</activity>
		<activity android:name=".SrijanActivity" />

		<service
			android:name=".SrijanMessagingService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
	</application>

</manifest>