<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="in.srijanju.androidapp">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />

	<application
		android:name=".SrijanApp"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">
		<activity android:name=".activities.Profile"></activity>
		<activity
			android:name=".activities.EventRegister"
			android:theme="@style/Theme.MaterialComponents.NoActionBar" />
		<activity android:name=".activities.CameraScan" />
		<activity
			android:name=".activities.SrijanRegister"
			android:theme="@style/Theme.MaterialComponents.NoActionBar" />
		<activity android:name=".activities.EventDescription" />
		<activity android:name=".activities.Events" />
		<activity android:name=".activities.About" />
		<activity android:name=".activities.MainPage" />
		<activity android:name=".activities.Gallery" />
		<activity android:name=".activities.Ambassador" />
		<activity android:name=".activities.webview" />
		<activity android:name=".activities.Sponsors" />
		<activity
			android:name=".activities.MainActivity"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter
				android:autoVerify="true"
				android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<!-- Accepts URIs that begin with "https://srjanju.in" -->
				<data
					android:host="srijanju.in"
					android:scheme="https" />
			</intent-filter>
		</activity>
		<activity android:name=".SrijanActivity" />
	</application>

</manifest>